docker_volumes/
core/dataset/
.tmp_pythoN/
*/.tmp_pythoN/
.directory
*/tmp/
tmp/
data_bkp/
core/src/mongo-c-driver/cmake-build
core/src/mongo-cxx-driver/build
core/res/dataset/
core/res/neural_genome_cache/
core/src/vrex/bin
core/src/vrex/obj
core/src/vrex/*.o
sensitive_files_ignore/
core-2/models/
core-2/res/models/
core-2/neural_genome_cache/